@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;700&display=swap');
$family: 'Jost', sans-serif;
$familyTitle:'Playfair Display, serif';
$bold: 600;
$normal: 500;
$light: 400;

$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-30: 30px;

$whiteColor: #ffffff;
$blueColor: #88B3D2;
$redColor: #FF5574;
$greenColor: #00D7A3;
$lazureColor: #92d5f1;
$lightGreyColor: #808E93;
$colorPink: rgb(234, 93, 128);

/*button*/
$borderBtn: 3px solid $whiteColor;
$colorBlueBtn: linear-gradient(
                180deg,
                #a0fafa 0%,
                #35c8f7 16.67%,
                #07b9f1 43.23%,
                #5589d6 94.27%,
                #5d9cca 100%
);
$colorBlueBtnHover: linear-gradient(to bottom, #a0eefc, #6ac9e9, #6698d4);

$colorGreenBtn: linear-gradient(
                180deg,
                #ccef82 0%,
                #469a29 94.27%,
                #7cbc55 100%
);
$colorGreenBtnHover: linear-gradient(
                180deg,
                #d4f097 0%,
                #5da745 94.27%,
                #86bb65 100%
);

/*test body background*/
$testBodyBackground: linear-gradient(225deg, rgba(146, 213, 241, 0.01) 0%, rgba(146, 213, 241, 0.10) 100%);
