@import "../../assets/vars";

.container_analisys {
  font-family: $family;
  padding: 40px;
  color: black;
  @media (max-width: 560px) {
    padding: 20px;
  }

  .analisys-title {
    text-align: center;
    margin-bottom: 25px;
    @media (max-width: 560px) {
      font-size: 22px;
    }
  }

  .container_questions {
    margin-bottom: 30px;
    padding: 20px;
    background: linear-gradient(225deg, rgba(146, 213, 241, 0.01) 0%, rgba(146, 213, 241, 0.1) 100%);
    box-shadow: 4px 6px 16px 0 rgba(146, 213, 241, 0.08);
    border: 1px solid  $colorPink;
    border-radius: 50px;

    ul {
      list-style: none;
    }

    .title-qustions {
      text-align: center;
      color: black;
      font-size: 25px;
      font-family: Rubik, Arial, sans-serif;
      font-style: normal;
      font-weight: 700;
      line-height: 19px;
      margin-bottom: 32px;
      width: 100%;
    }

    .item_resp {
      padding: 10px;
      min-height: 95px;
      margin-bottom: 10px;

      .select-text {
        align-self: end;
        text-align: end;

        .cat-selection {
          width: 100px;
          height: 100px;
          @media (max-width: 560px) {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .resp-user {
      font-size: 16px;


      .hint-text {
        color: grey;
      }

      h2 {
        font-size: 22px;
      }
    }

    ///ошибка
    .selection {
      display: flex;
      @media (max-width: 560px) {
        flex-direction: column;
      }
      align-items: center;
      p-filter: blur(6px);
      border-radius: 20px;
      border-style: solid;
      border-width: 0.5px;
      background: linear-gradient(
                      225deg,
                      rgba(251, 84, 86, 0.01) 0%,
                      rgba(251, 84, 86, 0.48) 100%
      );
      border-color: rgba(251, 84, 86, 0.82);

      .check {
        margin-left: 10px;
        margin-right: 10px;
        transform: translateX(-10px);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        backdrop-filter: blur(6px);
        font-family: Times New Roman, Times, serif;
        background: linear-gradient(225deg, rgba(251, 84, 86, .01), rgba(251, 84, 86, .1));
        border: 1px solid #fb5456;
        box-shadow: 0 4px 8px rgba(251, 84, 86, .04), 0 0 2px rgba(251, 84, 86, .06), 0 0 1px rgba(251, 84, 86, .04);
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 560px) {
          margin-bottom:20px ;
        }
      }

      .check::after {
        display: flex;
        justify-content: center;
        width: 1.5em;
        height: 1.5em;
        background-color: rgba(255, 0, 0, 0.62);
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        content: "";
        overflow: hidden;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
      }
    }

    .correct {
      display: flex;
      align-items: center;
      @media (max-width: 560px) {
        flex-direction: column;
      }
      p-filter: blur(6px);
      border-radius: 20px;
      border-style: solid;
      border-width: 0.5px;
      background: linear-gradient(
                      218.07deg,
                      rgba(49,212,184,0.84) -8.72%,
                      rgba(49, 212, 184, 0.5) 79.63%
      );
      border-color: rgba(49, 212, 184, 0.9);

      .check {
        margin-left: 10px;
        margin-right: 10px;
        transform: translateX(-10px);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        backdrop-filter: blur(6px);
        background: linear-gradient(225deg, rgba(146, 213, 241, .01), rgba(146, 213, 241, .1));
        border:1px solid $colorPink;
        box-shadow: 0 4px 8px rgba(146, 213, 241, .04), 0 0 2px rgba(146, 213, 241, .06), 0 0 1px rgba(146, 213, 241, .04);
        font-family: Times New Roman, Times, serif;
        @media (max-width: 560px) {
          margin-bottom:20px ;
        }
      }

      .check::after {
        font-size: 27px;
        line-height: 45px;
        animation-fill-mode: none;
        animation: none;
        border: none;
        color: $colorPink;
        content: "✔";
        filter: drop-shadow(0 0 10px #92d5f1);
        height: 100%;
        position: absolute;
        text-align: center;
        top: 0;
        visibility: visible;
        width: 100%;
      }
    }

    .resp-user {
      flex-grow: 1;
    }
  }

  .wr-button {
    display: flex;
    justify-content: center;

    button {
      background-color:$colorPink;
      box-shadow: 0px 2px 2px 0px rgba(133, 10, 10, 0.75);
      border-radius: 50px;
      max-width: 254px;
      width: 100%;
      min-height: 61px;
      margin-bottom: 30px;
      font-size: 18px;
      color: white;
      border: none;
      cursor: pointer;
      @media (max-width: 560px) {
        max-width: 154px;
        min-height: 45px;
        font-size: 14px;
      }
    }
  }


}



