.App {
    height: 100vh;
    width: 100vw;
    overflow: auto;

    background-image: url('./test/assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

